.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 25rem;
    margin-bottom: 6rem;
    margin-top: 9rem;
    padding-top: 5rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome> :nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome> :nth-child(2) {
    color: #00AEEF;
    font-size: 2.5rem;
    font-weight: bold;
}

.s-button {
    width: 10rem;
    height: 2.3rem;
    margin-top: 1.5rem;
}

.cards {
    position: relative;
}

.c-box {
    width: 16rem;
    height: 18rem;
    border: 2px solid #00AEEF;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #00AEEF;
    transition: 0.3s;
    position: absolute;
    top: 5%;
    right: 0;
    left: 300px;
}

.c-box:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.c-box>img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.c-box>p:nth-child(2) {
    color: #00AEEF;
    font-size: 1.4rem;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.c-box>p:nth-child(3) {
    color: gray;
    margin: 0px 20px 10px 20px;
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .services {
        flex-direction: column;
    }

    .c-box {
        left: 1%;
        margin-top: 4rem;
    }
}