.Intro {
    height: 77vh;
    margin-top: 5rem;
    display: flex;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-name> :nth-child(1) {
    color: black;
    font-weight: 700;
    font-size: 2.4rem;
}

.i-name> :nth-child(2) {
    color: #00AEEF;
    font-weight: bold;
    font-size: 3.2rem;
}

.i-name> :nth-child(3) {
    font-weight: 500;
    font-size: 16px;
    color: gray;
    margin-top: 8px;
}

.i-button {
    width: 6.4rem;
    height: 2.3rem;
}

.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 1.2rem;
}

.i-icons>*:hover {
    cursor: pointer;
}

.i-right>img {
    position: absolute;
    z-index: 1;
    width: 380px;
    height: 390px;
    border: 2px solid #00AEEF;
    padding: 10px;
    margin-left: 8rem;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .Intro {
        flex-direction: column;
        gap: 7rem;
        height: 64rem;
    }

    .i-right {
        transform: scale(0.2);
        left: -9rem;
    }

    .i-right>img {
        width: 340px;
        height: 370px;
        left: 6px;
    }
}