.footer {
    height: 295px;
    width: 100%;
    margin: -0.2rem -3.4rem;
    position: relative;
    margin-top: -1rem;
}

.footer>img {
    height: 300px;
    width: 110%;
    object-fit: cover;
}

.f-content {
    position: relative;
    top: -70px;
    color: white;
    left: 60%;
    font-size: 18px;
    display: flex;
    gap: 3px;
}

@media screen and (max-width: 480px) {
    .footer {
        height: 200px;
        width: 100%;
        position: relative;
        margin-top: 10rem;
    }

    .footer>img {
        height: 110%;
        width: 125%;
        object-fit: cover;
    }

    .f-content {
        position: relative;
        top: -68px;
        left: 20%;
        font-size: 15px;
    }
}