.App {
  overflow: hidden;
  color: black;
  font-weight: 500;
  padding: 0.5rem 3.5rem;
}

.button {
  background: #00AEEF;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 20px 8px 20px;
}

.button:hover {
  background: transparent;
  cursor: pointer;
  border: 2px solid #00AEEF;
  color: #00AEEF;
  padding: 6px 18px 6px 18px;
}

.ser-exp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }

  .ser-exp {
    display: flex;
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 10px #2f5f6f;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00AEEF;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}